/*
 * Your colors here
 */
$colors: (
	primary: #00caff,
	primary_d: #7200e3,
	success: #2eec91,
	warning: #efa200,
	font: #887f95,
	p: #303133,
	title: #3A4A40,
	dark_grey: #909399,
	border: #ebebeb,
	light: #f0f0f0,
	grey_border: #e6e6e6,
	w: #fff,
	danger: #f56c6c,
	facebook: #3b5998,
	google: #dd373e,
	linkedin: #0077b5,
	twitter: #0084b4,
	love: #dd373e,
	grey_label: #8492a6,
	ytBg: #CEE3EA
);
